<div class="justify-center">
    <h3>Contact Information</h3>
</div>
<br>

<div>
    <div>
        <div>Dibz Hotline:</div>
        <h3>707 984-5511</h3>
    </div>
    <br>
    <div>
        {{#if logged_in}}
        <div>{{apartment.complex.street_address}} {{apartment.complex.city}}, {{apartment.complex.state}} {{apartment.complex.zip}}</div>
        <div>Property Manager</div>
        <h4>{{apartment.complex.employee.firstname}} {{apartment.complex.employee.lastname}}</h4>
        <div>{{apartment.complex.employee.management.name}}</div>
        <div>{{apartment.complex.employee.contact_number}}</div>
        {{/if}}
    </div>
</div>