<h1 class='text-center'>Account</h1>
<hr>
<main class='flex-row'>
  <aside class='flex-column'>
    <div>
      <h4>
        Account
      </h4>
    </div>
    <div>
      <h4>
        Payment History
      </h4>
    </div>
    <div>
      <h4>
        Payment Methods
      </h4>
    </div>
    <div>
      <h4>
        Vehicle Information
      </h4>
    </div>
    <div>
      <h4>
        Documentation
      </h4>
    </div>
    <div>
      <h4>
        Settings
      </h4>
    </div>
  </aside>
  <section>
    <h1>{{firstname}} {{lastname}}</h1>
    <br>
    <p>{{apartment.complex.street_address}}</p>
    <p>Apt. {{apartment.apartment_no}}</p>
    <p>{{apartment.complex.city}}, {{apartment.complex.state}}</p>
    <br>
    <h3>Contact Information</h3>
    <h4>Email</h4>
    <p>{{email}}</p>
    <br>
    <h4>Phone Number (Main)</h4>
    <p>{{phone_number}}</p>
    <hr>
  </section>
</main>