<div class="justify-center align-space-around">
    <div>
    <h1 class="row justify-center">New Washer Reservation</h1>
    <h4 class="row justify-center">Hi {{firstname}} from apartment {{apartment.apartment_no}} at {{apartment.complex.street_address}}! Select from the machines available or schedule the use of a machine!</h4>
    </div>
    <br><br>
        <div class="reservation-stuff">
            <h3 class="">Available Now</h3>
            <div class="" id="availablility">
                {{#each apartment.complex.machines as |machine|}}
                    <form class="form justify-center available-machine-form" id="{{id}}">
                        <div class="row">{{size}} {{type}} {{id}} is available.</div>
                        <button class="btn row" type="submit">Reserve Now</button>
                    </form>
                {{/each}}
            </div>
        </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="./js/reservation.js"></script>